<ng-container *ngIf="taskService.tasks$ | async as tasks; else selectList">
  <div class="list-buttons">
    <button mat-icon-button (click)="toggleListForm()" [color]="listFormPanel.expanded ? 'primary' : null">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-expansion-panel #listFormPanel>
    <two-todo-list-form [panel]="listFormPanel"></two-todo-list-form>
  </mat-expansion-panel>
  <ul cdkDropList class="list" (cdkDropListDropped)="drop($event.previousIndex, $event.currentIndex, tasks)">
    <li *ngFor="let task of tasks" class="list-item" cdkDrag>
      <a twoTodoSwipe (swipeEnd)="processAction($event, task, tasks)" class="list-item-content" tabindex="0">
        <div class="list-item-drag" [class.done]="task.status" cdkDragHandle></div>
        <div class="list-item-task">
          <del *ngIf="task.status; else undone">{{task.text}}</del>
          <ng-template #undone><span>{{task.text}}</span></ng-template>
        </div>
        <div class="list-item-actions">
          <button class="list-item-action" mat-icon-button color="accent" (click)="toggleStatus(task, tasks)" tabindex="0">
            <mat-icon *ngIf="task.status">check_box</mat-icon>
            <mat-icon *ngIf="!task.status">check_box_outline_blank</mat-icon>
          </button>
          <button class="list-item-action" mat-icon-button color="warn" (click)="remove(task)" tabindex="0">
            <mat-icon>block</mat-icon>
          </button>
        </div>
      </a>
      <div class="list-item-underlay">
        <mat-icon class="icon-toggle">done</mat-icon>
        <mat-icon class="icon-remove">block</mat-icon>
      </div>
    </li>
  </ul>
  <two-todo-task-form [position]="tasks.length"></two-todo-task-form>
</ng-container>
<ng-template #selectList>
  <p style="font-size: 24px;">{{ 'LIST.PLEASE' | translate }}
    <ng-container *ngIf="listService.listStatus$ | async; else toggle">
      {{ 'LIST.SELECT' | translate }}
    </ng-container>
    <ng-template #toggle>
      <a class="list-select" (click)="listService.toggleList()">{{ 'LIST.SELECT' | translate }}</a>
    </ng-template>
    {{ 'LIST.OR_CREATE' | translate }}
  </p>
</ng-template>
