<ng-container *ngIf="taskService.tasks$ | async as tasks; else selectList">
  <div class="list-buttons">
    <button mat-icon-button (click)="toggleListForm()" [color]="listFormPanel.expanded ? 'primary' : null">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-expansion-panel #listFormPanel>
    <two-todo-list-form></two-todo-list-form>
  </mat-expansion-panel>
  <ul class="list">
    <li *ngFor="let task of tasks" class="list-item">
      <div twoTodoSwipe (swipeEnd)="processAction($event, task)" class="list-item-content">
        <div class="list-item-task">
          <del *ngIf="task.status; else undone">{{task.text}}</del>
          <ng-template #undone><span>{{task.text}}</span></ng-template>
        </div>
        <div class="list-item-actions">
          <button class="list-item-action" mat-icon-button color="accent" (click)="toggleStatus(task)">
            <mat-icon *ngIf="task.status">check_box</mat-icon>
            <mat-icon *ngIf="!task.status">check_box_outline_blank</mat-icon>
          </button>
          <button class="list-item-action" mat-icon-button color="warn" (click)="remove(task)">
            <mat-icon>block</mat-icon>
          </button>
        </div>
      </div>
      <div class="list-item-underlay">
        <mat-icon class="icon-toggle">done</mat-icon>
        <mat-icon class="icon-remove">block</mat-icon>
      </div>
    </li>
  </ul>
  <two-todo-task-form></two-todo-task-form>
</ng-container>
<ng-template #selectList>
  <p>Please <a class="list-select" (click)="listService.toggleList()">select</a> or create new list</p>
</ng-template>
