@import '../../../styles/variables';

.list {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 20px -20px 10px;
  list-style: none;

  &-buttons {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    position: relative;

    &-actions {
      display: flex;
    }

    &-action {
      visibility: hidden;
    }

    &-task {
      padding: 10px 20px;
    }

    &-content {
      box-sizing: border-box;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background: $backgroundColor;

      &:hover,
      &:focus,
      &:focus-within {
        background: $backgroundLightColor;

        .list-item-action {
          visibility: visible;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &-underlay {
      box-sizing: border-box;
      position: absolute;
      display: none;
      align-items: center;
      z-index: 0;
      top: 0;
      left: 0;
      padding: 0 16px;
      width: 100%;
      height: 100%;
    }

    &-content.remove-ready + &-underlay {
      display: flex;
      background: $warnColor;
      flex-direction: row-reverse;

      .icon-toggle {
        display: none;
      }
    }

    &-content.toggle-ready + &-underlay {
      display: flex;
      background: $accentColor;

      .icon-remove {
        display: none;
      }
    }
  }

  &-select {
    color: $accentColor;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .list-item {
    opacity: 1;

    &-actions {
      display: none;
    }
  }
}
