@import '../../../styles/variables';

.list {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 20px -20px 10px;
  list-style: none;

  &-buttons {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    position: relative;

    &-drag {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 100%;
      cursor: move;

      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 8px;
        width: 4px;
        height: calc(100% - 10px);
        border-radius: 4px;
        background: $accentColor;
      }

      &.done:before {
        background: $primaryColor;
      }
    }

    &-actions {
      display: flex;
    }

    &-action,
    &-edit {
      visibility: hidden;
    }

    &-edit {
      height: 20px;
      width: 20px;
      line-height: 20px;
      font-size: 14px;
      margin-left: 4px;
    }

    &-edit .mat-icon {
      height: 20px;
      width: 20px;
      line-height: 20px;
    }

    &-task {
      padding: 10px 20px;

      p[contenteditable] {
        display: block;
        outline: none;
        background: $backgroundColor;

        & + button {
          display: none;
        }
      }
    }

    &-text {
      margin: 0;
      display: inline;

      &.done {
        text-decoration: line-through;
      }
    }

    &-content {
      box-sizing: border-box;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background: $backgroundColor;

      &:focus {
        outline: none;
      }
    }

    &-underlay {
      box-sizing: border-box;
      position: absolute;
      display: none;
      align-items: center;
      z-index: 0;
      top: 0;
      left: 0;
      padding: 0 16px;
      width: 100%;
      height: 100%;
    }

    &-content.remove-ready + &-underlay {
      display: flex;
      background: $warnColor;
      flex-direction: row-reverse;

      .icon-toggle {
        display: none;
      }
    }

    &-content.toggle-ready + &-underlay {
      display: flex;
      background: $accentColor;

      .icon-remove {
        display: none;
      }
    }
  }

  &-select {
    color: $accentColor;
    cursor: pointer;
  }

  &:not(.cdk-drop-list-dragging) {
    .list-item-content {
      &:hover,
      &:focus,
      &:focus-within {
        background: $backgroundLightColor;

        .list-item-drag,
        .list-item-action,
        .list-item-edit {
          visibility: visible;
        }
      }
    }
  }
}

.cdk-drag {
  &-preview {
    box-sizing: border-box;
    list-style: none;
    color: #fff;

    .list-item-content {
      background: $backgroundLightColor;
    }
  }

  &-placeholder {
    opacity: 0;
  }

  &-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.cdk-drop-list-dragging .list-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 768px) {
  .list-item {
    opacity: 1;

    &-drag {
      visibility: visible;
    }

    &-actions {
      display: none;
    }
  }
}
