<mat-sidenav-container>
  <header class="header mat-background-primary">
    <h1
      *ngIf="auth.user$ | async"
      class="header-title"
      (click)="listService.toggleList()">
      <button
        mat-icon-button
        color="primary"
        aria-label="List selector"
      >
        <mat-icon>list</mat-icon>
      </button>
      <ng-container *ngIf="listService.title$ | async as title">{{title}}</ng-container>
    </h1>
    <two-todo-user-menu></two-todo-user-menu>
  </header>
</mat-sidenav-container>
<router-outlet></router-outlet>
