@import './src/styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: $backgroundLightColor;

  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    line-height: 40px;
  }
}
