@import './styles/variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $backgroundColor;
}

.main {
  min-height: calc(100vh - 60px);
}

.content {
  max-width: 652px;
  margin: 20px;
}

.error {
  color: $warnColor;
}

mat-label > mat-icon {
  vertical-align: middle !important;
}

.mat-raised-button + .mat-raised-button {
  margin-left: 20px;
}
