@import './styles/variables';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $backgroundColor;
}

.main {
  min-height: calc(100vh - 60px);
}

.content-wrapper {
  overflow: hidden !important;
}

.content {
  max-width: 652px;
  margin: 20px;
}

.error {
  color: $warnColor;
}

.error-popup {
  background: $warnColor;
  color: $white;
}

a,
.link {
  color: $accentColor;
  cursor: pointer;
}

sup, sub {
  color: $lightTextColor;
  line-height: 1;
}

.info-message {
  font-size: 24px;
  line-height: 32px;
}

mat-label > mat-icon {
  vertical-align: middle !important;
}

.mat-raised-button + .mat-raised-button {
  margin-left: 20px;
}
