<div *ngIf="!list.isGuest" class="list-form">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'LIST_FORM.TITLE' | translate }}</mat-label>
      <mat-icon matSuffix>title</mat-icon>
      <input
        matInput
        name="title"
        [(ngModel)]="title"
        (keyup.enter)="update({title: title})"
        (blur)="update({title: title})"
        autocomplete="off"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'LIST_FORM.GUEST' | translate }}</mat-label>
      <mat-icon matSuffix>person_add</mat-icon>
      <input
        matInput
        name="guest"
        [(ngModel)]="guest"
        (keyup.enter)="update({guest: guest})"
        (blur)="update({guest: guest})"
        autocomplete="off"/>
    </mat-form-field>
  </div>
</div>
<div *ngIf="list.isGuest || list.isOwner" class="list-control">
  <mat-checkbox class="list-checkbox" [checked]="list.subscribed" (change)="toggleSubscription($event)">
    {{ 'LIST.NOTIFICATION' | translate }}
    {{ (list.isOwner ? 'LIST.GUEST' : 'LIST.HOST') | translate }}
  </mat-checkbox>
</div>
<button mat-raised-button class="list-control" (click)="remove()" color="warn">
  {{ 'LIST_FORM.REMOVE' | translate }}
  <ng-container *ngIf="list.isGuest">{{ 'LIST_FORM.FROM_SHARED' | translate }}</ng-container>
</button>
