<div *ngIf="!isGuest" class="list-form">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'LIST_FORM.TITLE' | translate }}</mat-label>
      <mat-icon matSuffix>title</mat-icon>
      <input
        matInput
        [(ngModel)]="title"
        (keyup.enter)="update({title: title})"
        (blur)="update({title: title})"
        autocomplete="off"/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'LIST_FORM.GUEST' | translate }}</mat-label>
      <mat-icon matSuffix>person_add</mat-icon>
      <input
        matInput
        [(ngModel)]="guest"
        (keyup.enter)="update({guest: guest})"
        (blur)="update({guest: guest})"
        autocomplete="off"/>
    </mat-form-field>
  </div>
</div>
<button mat-raised-button class="list-remove" (click)="remove()" color="warn">
  {{ 'LIST_FORM.REMOVE' | translate }}
  <ng-container *ngIf="isGuest">{{ 'LIST_FORM.FROM_SHARED' | translate }}</ng-container>
</button>
